.navbar {
    background: linear-gradient(45deg, #ff6f00, #ff8f00);
  }


  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navbar .MuiButton-root:hover {
    background-color: #ff8f00;
    color: #fff;
  }