/* src/components/AnimatedBackground.css */
@keyframes gradientBackground {
    0% {
      background: linear-gradient(45deg, #ff6f00, #ff8f00);
    }
    50% {
      background: linear-gradient(45deg, #ff8f00, #ff6f00);
    }
    100% {
      background: linear-gradient(45deg, #ff6f00, #ff8f00);
    }
  }
  
  .animated-background {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #ff6f00, #ff8f00);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
  }
  